/* 
--h1-48px-bold-font-family: "Rubik-Bold", Helvetica;
    --h1-48px-bold-font-size: 48px;
    --h1-48px-bold-font-style: normal;
    --h1-48px-bold-font-weight: 700;
    --h1-48px-bold-letter-spacing: ;
    --h1-48px-bold-line-height: 64px; */
h1-48-bold {
    font-family: Rubik-Bold, Helvetica;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.20000000298023224px;
    line-height: 64px;
    font-style: normal;
}
:root {
    --dark-fill-lighttittle: rgba(22, 29, 37, 1);
    --dark-fillink: rgba(33, 43, 54, 1);
    --dark-filllight: rgba(69, 79, 91, 1);
    --dark-filllighter: rgba(99, 115, 129, 1);
    --dark-filllightest: rgba(145, 158, 171, 1);
    --dark-filltittle: rgba(22, 29, 37, 1);
    --fill-lightactionblue: rgba(0, 111, 187, 1);
    --fill-lightactiongreen: rgba(80, 184, 60, 1);
    --fill-lightactionindigo: rgba(92, 106, 196, 1);
    --fill-lightactionorange: rgba(244, 147, 66, 1);
    --fill-lightactionred: rgba(222, 54, 24, 1);
    --fill-lightactionteal: rgba(71, 193, 191, 1);
    --fill-lightactionyellow: rgba(238, 194, 0, 1);
    --fill-lightwhitewhite: rgba(255, 255, 255, 1);
    --fillactionblue: rgba(0, 111, 187, 1);
    --fillactiongreen: rgba(80, 184, 60, 1);
    --fillactionindigo: rgba(92, 106, 196, 1);
    --fillactionorange: rgba(244, 147, 66, 1);
    --fillactionpurple: rgba(156, 106, 222, 1);
    --fillactionred: rgba(222, 54, 24, 1);
    --fillactionteal: rgba(71, 193, 191, 1);
    --fillactiontittle: rgba(67, 70, 127, 1);
    --fillactionyellow: rgba(238, 194, 0, 1);
    --fillempty: rgba(255, 255, 255, 1);
    --fillwhitewhite: rgba(255, 255, 255, 1);
   
    
    --h1-48px-medium-font-family: "Rubik-Medium", Helvetica;
    --h1-48px-medium-font-size: 48px;
    --h1-48px-medium-font-style: normal;
    --h1-48px-medium-font-weight: 500;
    --h1-48px-medium-letter-spacing: 0.20000000298023224px;
    --h1-48px-medium-line-height: 64px;
    --h1-48px-regular-font-family: "Rubik-Regular", Helvetica;
    --h1-48px-regular-font-size: 48px;
    --h1-48px-regular-font-style: normal;
    --h1-48px-regular-font-weight: 400;
    --h1-48px-regular-letter-spacing: 0.20000000298023224px;
    --h1-48px-regular-line-height: 64px;
    --h1-56px-bold-font-family: "Rubik-Bold", Helvetica;
    --h1-56px-bold-font-size: 56px;
    --h1-56px-bold-font-style: normal;
    --h1-56px-bold-font-weight: 700;
    --h1-56px-bold-letter-spacing: 0.20000000298023224px;
    --h1-56px-bold-line-height: 72px;
    --h1-56px-medium-font-family: "Rubik-Medium", Helvetica;
    --h1-56px-medium-font-size: 56px;
    --h1-56px-medium-font-style: normal;
    --h1-56px-medium-font-weight: 500;
    --h1-56px-medium-letter-spacing: 0.20000000298023224px;
    --h1-56px-medium-line-height: 72px;
    --h1-56px-regular-font-family: "Rubik-Regular", Helvetica;
    --h1-56px-regular-font-size: 56px;
    --h1-56px-regular-font-style: normal;
    --h1-56px-regular-font-weight: 400;
    --h1-56px-regular-letter-spacing: 0.20000000298023224px;
    --h1-56px-regular-line-height: 72px;
    --h2-36px-bold-font-family: "Rubik-Bold", Helvetica;
    --h2-36px-bold-font-size: 36px;
    --h2-36px-bold-font-style: normal;
    --h2-36px-bold-font-weight: 700;
    --h2-36px-bold-letter-spacing: 0.20000000298023224px;
    --h2-36px-bold-line-height: 52px;
    --h2-36px-medium-font-family: "Rubik-Medium", Helvetica;
    --h2-36px-medium-font-size: 36px;
    --h2-36px-medium-font-style: normal;
    --h2-36px-medium-font-weight: 500;
    --h2-36px-medium-letter-spacing: 0.20000000298023224px;
    --h2-36px-medium-line-height: 52px;
    --h2-36px-regular-font-family: "Rubik-Regular", Helvetica;
    --h2-36px-regular-font-size: 36px;
    --h2-36px-regular-font-style: normal;
    --h2-36px-regular-font-weight: 400;
    --h2-36px-regular-letter-spacing: 0.20000000298023224px;
    --h2-36px-regular-line-height: 52px;
    --h2-40px-bold-font-family: "Rubik-Bold", Helvetica;
    --h2-40px-bold-font-size: 40px;
    --h2-40px-bold-font-style: normal;
    --h2-40px-bold-font-weight: 700;
    --h2-40px-bold-letter-spacing: 0.20000000298023224px;
    --h2-40px-bold-line-height: 56px;
    --h2-40px-medium-font-family: "Rubik-Medium", Helvetica;
    --h2-40px-medium-font-size: 40px;
    --h2-40px-medium-font-style: normal;
    --h2-40px-medium-font-weight: 500;
    --h2-40px-medium-letter-spacing: 0.20000000298023224px;
    --h2-40px-medium-line-height: 56px;
    --h2-40px-regular-font-family: "Rubik-Regular", Helvetica;
    --h2-40px-regular-font-size: 40px;
    --h2-40px-regular-font-style: normal;
    --h2-40px-regular-font-weight: 400;
    --h2-40px-regular-letter-spacing: 0.20000000298023224px;
    --h2-40px-regular-line-height: 56px;
    --h3-28px-bold-font-family: "Rubik-Bold", Helvetica;
    --h3-28px-bold-font-size: 28px;
    --h3-28px-bold-font-style: normal;
    --h3-28px-bold-font-weight: 700;
    --h3-28px-bold-letter-spacing: 0.20000000298023224px;
    --h3-28px-bold-line-height: 44px;
    --h3-28px-medium-font-family: "Rubik-Medium", Helvetica;
    --h3-28px-medium-font-size: 28px;
    --h3-28px-medium-font-style: normal;
    --h3-28px-medium-font-weight: 500;
    --h3-28px-medium-letter-spacing: 0.20000000298023224px;
    --h3-28px-medium-line-height: 44px;
    --h3-28px-regular-font-family: "Inter-Medium", Helvetica;
    --h3-28px-regular-font-size: 28px;
    --h3-28px-regular-font-style: normal;
    --h3-28px-regular-font-weight: 500;
    --h3-28px-regular-letter-spacing: 0.20000000298023224px;
    --h3-28px-regular-line-height: 44px;
    --h3-32px-bold-font-family: "Rubik-Bold", Helvetica;
    --h3-32px-bold-font-size: 32px;
    --h3-32px-bold-font-style: normal;
    --h3-32px-bold-font-weight: 700;
    --h3-32px-bold-letter-spacing: 0.20000000298023224px;
    --h3-32px-bold-line-height: 48px;
    --h3-32px-medium-font-family: "Rubik-Medium", Helvetica;
    --h3-32px-medium-font-size: 32px;
    --h3-32px-medium-font-style: normal;
    --h3-32px-medium-font-weight: 500;
    --h3-32px-medium-letter-spacing: 0.20000000298023224px;
    --h3-32px-medium-line-height: 48px;
    --h3-32px-regular-font-family: "Rubik-Regular", Helvetica;
    --h3-32px-regular-font-size: 32px;
    --h3-32px-regular-font-style: normal;
    --h3-32px-regular-font-weight: 400;
    --h3-32px-regular-letter-spacing: 0.20000000298023224px;
    --h3-32px-regular-line-height: 48px;
    --h4-22px-bold-font-family: "Rubik-Bold", Helvetica;
    --h4-22px-bold-font-size: 22px;
    --h4-22px-bold-font-style: normal;
    --h4-22px-bold-font-weight: 700;
    --h4-22px-bold-letter-spacing: 0.20000000298023224px;
    --h4-22px-bold-line-height: 30px;
    --h4-22px-medium-font-family: "Rubik-Medium", Helvetica;
    --h4-22px-medium-font-size: 22px;
    --h4-22px-medium-font-style: normal;
    --h4-22px-medium-font-weight: 500;
    --h4-22px-medium-letter-spacing: 0.20000000298023224px;
    --h4-22px-medium-line-height: 30px;
    --h4-22px-regular-font-family: "Rubik-Regular", Helvetica;
    --h4-22px-regular-font-size: 22px;
    --h4-22px-regular-font-style: normal;
    --h4-22px-regular-font-weight: 400;
    --h4-22px-regular-letter-spacing: 0.20000000298023224px;
    --h4-22px-regular-line-height: 30px;
    --h4-24px-bold-font-family: "Rubik-Bold", Helvetica;
    --h4-24px-bold-font-size: 24px;
    --h4-24px-bold-font-style: normal;
    --h4-24px-bold-font-weight: 700;
    --h4-24px-bold-letter-spacing: 0.20000000298023224px;
    --h4-24px-bold-line-height: 32px;
    --h4-24px-medium-font-family: "Rubik-Medium", Helvetica;
    --h4-24px-medium-font-size: 24px;
    --h4-24px-medium-font-style: normal;
    --h4-24px-medium-font-weight: 500;
    --h4-24px-medium-letter-spacing: 0.20000000298023224px;
    --h4-24px-medium-line-height: 32px;
    --h4-24px-regular-font-family: "Rubik-Regular", Helvetica;
    --h4-24px-regular-font-size: 24px;
    --h4-24px-regular-font-style: normal;
    --h4-24px-regular-font-weight: 400;
    --h4-24px-regular-letter-spacing: 0.20000000298023224px;
    --h4-24px-regular-line-height: 32px;
    --h5-20px-bold-font-family: "Rubik-Bold", Helvetica;
    --h5-20px-bold-font-size: 20px;
    --h5-20px-bold-font-style: normal;
    --h5-20px-bold-font-weight: 700;
    --h5-20px-bold-letter-spacing: 0.20000000298023224px;
    --h5-20px-bold-line-height: 24px;
    --h5-20px-medium-font-family: "Rubik-Medium", Helvetica;
    --h5-20px-medium-font-size: 20px;
    --h5-20px-medium-font-style: normal;
    --h5-20px-medium-font-weight: 500;
    --h5-20px-medium-letter-spacing: 0.20000000298023224px;
    --h5-20px-medium-line-height: 24px;
    --h5-20px-regular-font-family: "Rubik-Regular", Helvetica;
    --h5-20px-regular-font-size: 20px;
    --h5-20px-regular-font-style: normal;
    --h5-20px-regular-font-weight: 400;
    --h5-20px-regular-letter-spacing: 0.20000000298023224px;
    --h5-20px-regular-line-height: 24px;
    --h6-18px-bold-font-family: "Rubik-Bold", Helvetica;
    --h6-18px-bold-font-size: 18px;
    --h6-18px-bold-font-style: normal;
    --h6-18px-bold-font-weight: 700;
    --h6-18px-bold-letter-spacing: 0.20000000298023224px;
    --h6-18px-bold-line-height: 20px;
    --h6-18px-medium-font-family: "Rubik-Medium", Helvetica;
    --h6-18px-medium-font-size: 18px;
    --h6-18px-medium-font-style: normal;
    --h6-18px-medium-font-weight: 500;
    --h6-18px-medium-letter-spacing: 0.20000000298023224px;
    --h6-18px-medium-line-height: 20px;
    --h6-18px-regular-font-family: "Rubik-Regular", Helvetica;
    --h6-18px-regular-font-size: 18px;
    --h6-18px-regular-font-style: normal;
    --h6-18px-regular-font-weight: 400;
    --h6-18px-regular-letter-spacing: 0.20000000298023224px;
    --h6-18px-regular-line-height: 20px;
    --h7-16px-bold-font-family: "Rubik-Bold", Helvetica;
    --h7-16px-bold-font-size: 16px;
    --h7-16px-bold-font-style: normal;
    --h7-16px-bold-font-weight: 700;
    --h7-16px-bold-letter-spacing: 0.17777778208255768px;
    --h7-16px-bold-line-height: 20px;
    --h7-16px-medium-font-family: "Rubik-Medium", Helvetica;
    --h7-16px-medium-font-size: 16px;
    --h7-16px-medium-font-style: normal;
    --h7-16px-medium-font-weight: 500;
    --h7-16px-medium-letter-spacing: 0.17777778208255768px;
    --h7-16px-medium-line-height: 20px;
    --h7-16px-regular-font-family: "Rubik-Regular", Helvetica;
    --h7-16px-regular-font-size: 16px;
    --h7-16px-regular-font-style: normal;
    --h7-16px-regular-font-weight: 400;
    --h7-16px-regular-letter-spacing: 0.17777778208255768px;
    --h7-16px-regular-line-height: 20px;
    --h8-14px-bold-font-family: "Rubik-Bold", Helvetica;
    --h8-14px-bold-font-size: 14px;
    --h8-14px-bold-font-style: normal;
    --h8-14px-bold-font-weight: 700;
    --h8-14px-bold-letter-spacing: 0.15555556118488312px;
    --h8-14px-bold-line-height: 20px;
    --h8-14px-medium-font-family: "Rubik-Medium", Helvetica;
    --h8-14px-medium-font-size: 14px;
    --h8-14px-medium-font-style: normal;
    --h8-14px-medium-font-weight: 500;
    --h8-14px-medium-letter-spacing: 0.15555556118488312px;
    --h8-14px-medium-line-height: 20px;
    --h8-14px-regular-font-family: "Rubik-Regular", Helvetica;
    --h8-14px-regular-font-size: 14px;
    --h8-14px-regular-font-style: normal;
    --h8-14px-regular-font-weight: 400;
    --h8-14px-regular-letter-spacing: 0.15555556118488312px;
    --h8-14px-regular-line-height: 20px;
    --h9-12px-bold-font-family: "Rubik-Bold", Helvetica;
    --h9-12px-bold-font-size: 12px;
    --h9-12px-bold-font-style: normal;
    --h9-12px-bold-font-weight: 700;
    --h9-12px-bold-letter-spacing: 0.1599999964237213px;
    --h9-12px-bold-line-height: 16px;
    --h9-12px-medium-font-family: "Rubik-Medium", Helvetica;
    --h9-12px-medium-font-size: 12px;
    --h9-12px-medium-font-style: normal;
    --h9-12px-medium-font-weight: 500;
    --h9-12px-medium-letter-spacing: 0.1599999964237213px;
    --h9-12px-medium-line-height: 16px;
    --h9-12px-regular-font-family: "Rubik-Regular", Helvetica;
    --h9-12px-regular-font-size: 12px;
    --h9-12px-regular-font-style: normal;
    --h9-12px-regular-font-weight: 400;
    --h9-12px-regular-letter-spacing: 0.1599999964237213px;
    --h9-12px-regular-line-height: 16px;
    --p1-20px-regular-font-family: "Roboto-Regular", Helvetica;
    --p1-20px-regular-font-size: 20px;
    --p1-20px-regular-font-style: normal;
    --p1-20px-regular-font-weight: 400;
    --p1-20px-regular-letter-spacing: 0px;
    --p1-20px-regular-line-height: 36px;
    --p2-18px-regular-font-family: "Roboto-Regular", Helvetica;
    --p2-18px-regular-font-size: 18px;
    --p2-18px-regular-font-style: normal;
    --p2-18px-regular-font-weight: 400;
    --p2-18px-regular-letter-spacing: 0px;
    --p2-18px-regular-line-height: 32px;
    --p3-16px-regular-font-family: "Roboto-Regular", Helvetica;
    --p3-16px-regular-font-size: 16px;
    --p3-16px-regular-font-style: normal;
    --p3-16px-regular-font-weight: 400;
    --p3-16px-regular-letter-spacing: 0px;
    --p3-16px-regular-line-height: 28px;
    --p4-14px-regular-font-family: "Roboto-Regular", Helvetica;
    --p4-14px-regular-font-size: 14px;
    --p4-14px-regular-font-style: normal;
    --p4-14px-regular-font-weight: 400;
    --p4-14px-regular-letter-spacing: 0px;
    --p4-14px-regular-line-height: 24px;
    --p5-12px-regular-font-family: "Roboto-Regular", Helvetica;
    --p5-12px-regular-font-size: 12px;
    --p5-12px-regular-font-style: normal;
    --p5-12px-regular-font-weight: 400;
    --p5-12px-regular-letter-spacing: 0px;
    --p5-12px-regular-line-height: 20px;
    --regular-text-12px-bold-font-family: "Roboto-Bold", Helvetica;
    --regular-text-12px-bold-font-size: 12px;
    --regular-text-12px-bold-font-style: normal;
    --regular-text-12px-bold-font-weight: 700;
    --regular-text-12px-bold-letter-spacing: 0px;
    --regular-text-12px-bold-line-height: 18px;
    --regular-text-12px-medium-font-family: "Roboto-Medium", Helvetica;
    --regular-text-12px-medium-font-size: 12px;
    --regular-text-12px-medium-font-style: normal;
    --regular-text-12px-medium-font-weight: 500;
    --regular-text-12px-medium-letter-spacing: 0px;
    --regular-text-12px-medium-line-height: 18px;
    --regular-text-12px-regular-font-family: "Roboto-Regular", Helvetica;
    --regular-text-12px-regular-font-size: 12px;
    --regular-text-12px-regular-font-style: normal;
    --regular-text-12px-regular-font-weight: 400;
    --regular-text-12px-regular-letter-spacing: 0px;
    --regular-text-12px-regular-line-height: 18px;
    --regular-text-14px-bold-font-family: "Roboto-Bold", Helvetica;
    --regular-text-14px-bold-font-size: 14px;
    --regular-text-14px-bold-font-style: normal;
    --regular-text-14px-bold-font-weight: 700;
    --regular-text-14px-bold-letter-spacing: 0px;
    --regular-text-14px-bold-line-height: 20px;
    --regular-text-14px-medium-font-family: "Roboto-Medium", Helvetica;
    --regular-text-14px-medium-font-size: 14px;
    --regular-text-14px-medium-font-style: normal;
    --regular-text-14px-medium-font-weight: 500;
    --regular-text-14px-medium-letter-spacing: 0px;
    --regular-text-14px-medium-line-height: 20px;
    --regular-text-14px-regular-font-family: "Roboto-Regular", Helvetica;
    --regular-text-14px-regular-font-size: 14px;
    --regular-text-14px-regular-font-style: normal;
    --regular-text-14px-regular-font-weight: 400;
    --regular-text-14px-regular-letter-spacing: 0px;
    --regular-text-14px-regular-line-height: 20px;
    --regular-text-16px-bold-font-family: "Roboto-Bold", Helvetica;
    --regular-text-16px-bold-font-size: 16px;
    --regular-text-16px-bold-font-style: normal;
    --regular-text-16px-bold-font-weight: 700;
    --regular-text-16px-bold-letter-spacing: 0px;
    --regular-text-16px-bold-line-height: 22px;
    --regular-text-16px-medium-font-family: "Roboto-Medium", Helvetica;
    --regular-text-16px-medium-font-size: 16px;
    --regular-text-16px-medium-font-style: normal;
    --regular-text-16px-medium-font-weight: 500;
    --regular-text-16px-medium-letter-spacing: 0px;
    --regular-text-16px-medium-line-height: 22px;
    --regular-text-16px-regular-font-family: "Roboto-Regular", Helvetica;
    --regular-text-16px-regular-font-size: 16px;
    --regular-text-16px-regular-font-style: normal;
    --regular-text-16px-regular-font-weight: 400;
    --regular-text-16px-regular-letter-spacing: 0px;
    --regular-text-16px-regular-line-height: 22px;
    --regular-text-18px-bold-font-family: "Roboto-Bold", Helvetica;
    --regular-text-18px-bold-font-size: 18px;
    --regular-text-18px-bold-font-style: normal;
    --regular-text-18px-bold-font-weight: 700;
    --regular-text-18px-bold-letter-spacing: 0px;
    --regular-text-18px-bold-line-height: 24px;
    --regular-text-18px-medium-font-family: "Roboto-Medium", Helvetica;
    --regular-text-18px-medium-font-size: 18px;
    --regular-text-18px-medium-font-style: normal;
    --regular-text-18px-medium-font-weight: 500;
    --regular-text-18px-medium-letter-spacing: 0px;
    --regular-text-18px-medium-line-height: 24px;
    --regular-text-18px-regular-font-family: "Roboto-Regular", Helvetica;
    --regular-text-18px-regular-font-size: 18px;
    --regular-text-18px-regular-font-style: normal;
    --regular-text-18px-regular-font-weight: 400;
    --regular-text-18px-regular-letter-spacing: 0px;
    --regular-text-18px-regular-line-height: 24px;
    --regular-text-20px-bold-font-family: "Roboto-Bold", Helvetica;
    --regular-text-20px-bold-font-size: 20px;
    --regular-text-20px-bold-font-style: normal;
    --regular-text-20px-bold-font-weight: 700;
    --regular-text-20px-bold-letter-spacing: 0px;
    --regular-text-20px-bold-line-height: 28px;
    --regular-text-20px-medium-font-family: "Roboto-Medium", Helvetica;
    --regular-text-20px-medium-font-size: 20px;
    --regular-text-20px-medium-font-style: normal;
    --regular-text-20px-medium-font-weight: 500;
    --regular-text-20px-medium-letter-spacing: 0px;
    --regular-text-20px-medium-line-height: 28px;
    --regular-text-20px-regular-font-family: "Roboto-Regular", Helvetica;
    --regular-text-20px-regular-font-size: 20px;
    --regular-text-20px-regular-font-style: normal;
    --regular-text-20px-regular-font-weight: 400;
    --regular-text-20px-regular-letter-spacing: 0px;
    --regular-text-20px-regular-line-height: 28px;
    --shadow-1: 0px 12px 16px 0px rgba(0, 0, 0, 0.08);
    --shadow-2: 0px 16px 20px 0px rgba(0, 0, 0, 0.06);
    --shadow-3: 0px 20px 24px 0px rgba(0, 0, 0, 0.04);
    --shadow-4: 0px 28px 32px 0px rgba(0, 0, 0, 0.03);
    --shadow-5: 0px 32px 36px 0px rgba(0, 0, 0, 0.02);
    --white-filldark-light: rgba(196, 205, 213, 1);
    --white-fillenough-light: rgba(244, 246, 248, 1);
    --white-filllighter: rgba(249, 250, 251, 1);
  }
  